<div class="container large-marg">
  <h1 class="mid-marg">Edit Vaccination</h1>

  <%= render 'form', vaccination: @vaccination %>

  <div class="large-marg">
    <%= link_to 'Show', @vaccination, class: 'btn' %> |
    <%= link_to 'Back', vaccinations_path, class: 'btn' %>
  </div>
</div>
