<div class="container large-marg">
  <h1 class="mid-marg">New Vaccination</h1>

  <%= render 'form', vaccination: @vaccination %>

  <div class="large-marg">
    <%= link_to 'Back', vaccinations_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>
