<div class="container">
  <div class="large-marg text-center">
    <h1 class="mid-marg padd">
      <%= @vaccination.title %>
    </h1>
  </div>

  <div class='mid-marg'>
    <%= link_to 'Edit', edit_vaccination_path(@vaccination), class: 'btn btn-outline-dark' %> |
    <%= link_to 'Back', vaccinations_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
