<div class="container large-marg">
  <h1>Edit Discussion</h1>

  <%= render 'form', discussion: @discussion %>

  <div class="mid-marg">
    <%= link_to 'Show', @discussion, class: 'btn' %> |
    <%= link_to 'Back', discussions_path, class: 'btn' %>
  </div>
</div>
