<% unless current_user.is_a? GuestUser %>
  <%= form_for @comment, url: '#' do |f| %>
    <div class="form-group">
      <%= f.label :speak_up %>
      <%= f.text_area :content, rows: 4, class: 'form-control' %>
    </div>

    <div class="mid-marg">
      <%= f.submit 'Post Comment', class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
<% end %>