
@import 'bootstrap';



/* Custom */

.marg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.large-marg {
  margin-top: 90px;
  margin-bottom: 90px;
}

.padd {
  padding: 20px;
}

.large-padd {
  padding: 50px;
}