<div class="container">
  <h1>User Forms</h1>

  <div class="row">
    <div class="col-md-8">
      <% @user_forms.each do |form| %>
        <div class="marg">
          <%= link_to form.user.name, form %>
        </div>
      <% end %>

      <div class="large-marg">
        <%= link_to 'New User Form', new_user_form_path, class: 'btn btn-outline-dark btn-block' %>
      </div>
    </div>
  </div>
</div>
