<div class="container large-marg">
  <h1 class="mid-marg">User Forms</h1>

  <div class="row">
    <div class="col-md-8">
      <% @user_forms.each do |form| %>
        <div class="row mid-marg">
          <div class="col-md-4">
            <%= link_to form.user.name, form %>
            <hr />
          </div>
          <div class="col-md-4 text-right">
            <small>Created <%= distance_of_time_in_words(form.created_at, Time.now) %> ago</small>
          </div>
        </div>
      <% end %>

      <div class="large-marg">
        <%= link_to 'New User Form', new_user_form_path, class: 'btn btn-outline-dark btn-block' %>
      </div>
    </div>
  </div>
</div>

