<div class="container large-marg">
  <h1>New User Form</h1>

  <div class="mid-marg">
    <%= render 'form', user_form: @user_form %>
  </div>

  <div class="marg">
    <%= link_to 'Back', user_forms_path, class: 'btn btn-light' %>
  </div>
</div>
